<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Shopping List Check Off</h1>
      <hr />
      <div class="row">
        <!-- To Buy List -->
        <div
          id="toBuy"
          ng-controller="ToBuyController as buyList"
          class="col-md-6"
        >
          <h2 class="text-center">To Buy <i class="bi bi-cart4"></i></h2>
          <ul>
            <li ng-repeat="item in buyList.items">
              <div class="form-group row">
                <div class="col-md-9">
                  Buy
                  <input
                    type="number"
                    onkeypress="return event.charCode >= 48"
                    min="0"
                    ng-model="item.quantity"
                    class="col-md-2"
                  />
                  {{item.name}}
                </div>
                <div class="col-md-3">
                  <p>
                    <em
                      ><i class="bi bi-cash-coin"></i> {{item.pricePerItem |
                      currency}}/ item</em
                    >
                  </p>
                </div>
              </div>

              <button
                ng-click="buyList.buyItem($index);"
                type="button"
                class="btn btn-success col-md-12"
              >
                <span class="bi bi-bag-plus text-light"></span> Bought
              </button>
            </li>
          </ul>
          <div ng-if="buyList.message" class="emptyMessage text-center">
            {{buyList.message}}
            <i class="bi bi-bag-check-fill text-success"></i>
            <i class="bi bi-emoji-laughing text-success"></i>
            <i class="bi bi-check-all text-success"></i>
          </div>
        </div>

        <!-- Already Bought List -->
        <div
          id="alreadyBought"
          ng-controller="AlreadyBoughtController as boughtList"
          class="col-md-6"
        >
          <h2 class="text-center">
            Already Bought <i class="bi bi-cart-check"></i>
          </h2>
          <ul>
            <li ng-repeat="item in boughtList.items">
              Bought <b>{{item.quantity}} {{item.name}}</b> for total price of
              <b>{{items| customPrice : item.pricePerItem : item.quantity }}</b>
            </li>
          </ul>
          <div
            ng-hide="boughtList.items.length"
            class="emptyMessage text-center"
          >
            Nothing Bought Yet <i class="bi bi-bag"></i>
            <i class="bi bi-emoji-frown"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
