<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Shopping List Check Off</h1>

      <div class="row">
        <!-- To Buy List -->
        <div
          id="toBuy"
          ng-controller="ToBuyController as buyList"
          class="col-md-6"
        >
          <h2>To Buy:</h2>
          <ul>
            <li ng-repeat="item in buyList.items">
              Buy
              <input type="text" ng-model="item.quantity" /> {{item.name}}
              <button
                ng-click="buyList.buyItem($index);"
                type="button"
                class="btn btn-info"
              >
                <span class="bi bi-bag-check"></span> Bought
              </button>
              <div>Price: ${{item.pricePerItem}}/ item</div>
            </li>
          </ul>
          <div ng-if="buyList.message" class="emptyMessage">
            {{buyList.message}}
          </div>
        </div>

        <!-- Already Bought List -->
        <div
          id="alreadyBought"
          ng-controller="AlreadyBoughtController as boughtList"
          class="col-md-6"
        >
          <h2>Already Bought:</h2>
          <ul>
            <li ng-repeat="item in boughtList.items">
              Bought {{item.quantity}} {{item.name}} for total price of {{items|
              customPrice : item.pricePerItem : item.quantity }}
            </li>
          </ul>
          <div ng-hide="boughtList.items.length" class="emptyMessage">
            Nothing Bought Yet
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
