* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
}

/** HEADER **/
#header-nav {
  background-color: #59bb68;
  border-radius: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 {
  font-family: "Pacifico", cursive;
  color: #61122f;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-brand > h1:hover,
.navbar-brand > h1:focus {
  text-decoration: none;
  color: green;
}

#header-nav button.navbar-toggler {
  clear: both;
}

.seperate-line {
  color: black;
}

.nav-item:hover {
  background-color: #61122f;
}
a.nav-link:hover {
  color: white;
}
/***** HOME ****/

#chicken {
  background-color: rgb(115, 194, 218);
}

#beef {
  background-color: rgb(221, 13, 228);
}

#sushi {
  background-color: chocolate;
}

/** xlarge devices - Desktop **/
@media (min-width: 1200px) {
}

/** large devices - Tablet **/
@media (min-width: 992px) and (max-width: 1199px) {
}

/** medium device - Mobile **/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** small devices only **********/
@media (max-width: 767px) {
}
