<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Lou's Restaurant</a>
    <div
      id="nav_bar"
      class="collapse navbar-collapse d-flex"
      id="navbarTogglerDemo03"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" ui-sref="home">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active active-page"
            aria-current="page"
            ui-sref="categories"
            >Categories</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h1 class="text-center">Our Categories</h1>

  <div class="breadcrumb justify-content-center">
    <a ui-sref="home">Home</a>
    <span class="separator">&gt;</span>
    <span class="actual">Categories</span>
  </div>
  <div class="categories text-center">
    <div class="menu">
      <ul>
        <li
          ng-repeat="category in cat.categories"
          ui-sref="items({ categoryShortName: category.short_name })"
        >
          ({{category.short_name}}) {{category.name}}
        </li>
      </ul>
    </div>

    <!-- <ui-view class="detail"></ui-view> -->
  </div>
</div>

<!-- <div>
    <ul>
      <li ng-repeat="category in ctrl.categories">
        <a ui-sref="categories.items({categoryShortName: category.short_name})"
          >({{category.short_name}}) {{category.name}}</a
        >
      </li>
    </ul>
  </div>

  <div>
    <ui-view></ui-view>
  </div> -->
