<!-- <div class="row">
  <div ng-repeat="item in list.found" class="col-xs-12 list-item">
    <div class="col-xs-2">{{item.short_name}}</div>
    <div class="col-xs-10"><strong>{{item.name}}</strong></div>
    <div class="col-xs-12">{{item.description}}</div>
    <div class="col-xs-12 pull-right">
      <button ng-click="list.onRemove({index: $index});" class="btn btn-danger">
        Don't want this one!
      </button>
    </div>
  </div>
</div> -->
<table class="table table-striped">
  <!-- <thead>
    <tr>
      <th scope="col">Short Name</th>
      <th scope="col">Item Name</th>
      <th scope="col">Description</th>
      <th></th>
    </tr>
  </thead> -->
  <tbody>
    <tr ng-repeat="item in list.found">
      <th>{{item.short_name}}</th>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>
        <button
          ng-click="list.onRemove({index: $index});"
          class="btn btn-danger"
        >
          Don't want this one!
        </button>
      </td>
    </tr>
  </tbody>
</table>
